body {
  margin: 0;
  background: #f2f3f7;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* APP */
.app {
  max-width: 420px;
  margin: 20px auto;
  background: white;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  overflow: hidden;
}

/* HEADER */
header {
  padding: 24px;
}

h1 {
  margin: 0;
}

#total {
  margin-top: 6px;
  font-weight: 600;
}

/* PROGRESS */
.progress-container {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin: 14px 0;
}

#progress-bar {
  height: 100%;
  border-radius: 10px;
}

/* BUDGET */
.budget-box {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.budget-box input {
  flex: 1;
  padding: 12px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

/* CATEGORY ROW FIX */
.category-row {
  display: flex;
  gap: 10px;
}

.category-row select {
  flex: 1;
}

.category-row input {
  flex: 1;
  display: none;
}

/* FULL BUTTON */
.full-btn {
  width: 100%;
}

/* BUTTON */
button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: black;
  color: white;
}

/* LIST */
main {
  padding: 12px;
  border-top: 1px solid #eee;
}

/* CARD */
.card {
  background: #fff;
  padding: 14px;
  border-radius: 16px;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.04);
}

.category {
  font-weight: 600;
}

.note {
  font-size: 12px;
  color: gray;
}

/* ACTIONS */
.actions {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}